<h2>OrderList</h2>
<p>
  <a style="cursor: pointer;" [routerLink]="['/order/create', '']" routerLinkActive="active">
    Create
  </a>
</p>
<table>
  <thead>
    <tr>
      <th>OrderID</th>
      <th>CustomerID</th>
      <th>EmployeeID</th>
      <th>OrderDate</th>
      <th>RequiredDate</th>
      <th>ShippedDate</th>
      <th>ShipVia</th>
      <th>Freight</th>
      <th>ShipName</th>
      <th>ShipAddress</th>
      <th>ShipCity</th>
      <th>ShipRegion</th>
      <th>ShipPostalCode</th>
      <th>ShipCountry</th>
      <th>DetailCount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list; index as i" (click)="onSelect(item.OrderID)" app-order-item [orderList]="item">
    </tr>
  </tbody>
</table>