<mat-sidenav-container>
  <mat-sidenav #sideNav mode="push">
    <mat-list>
      <mat-list-item
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="sideNav.toggle()"
        >Home</mat-list-item
      >
      <mat-list-item
        routerLink="order"
        routerLinkActive="active"
        (click)="sideNav.toggle()"
        >Orders</mat-list-item
      >
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
