<h2>OrderCreate</h2>

<form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)">
  <div>
    <label for="CustomerID"> CustomerID </label>
    <input id="CustomerID" type="text" formControlName="CustomerID" />
  </div>
  <div>
    <label for="EmployeeID"> EmployeeID </label>
    <input id="EmployeeID" type="text" formControlName="EmployeeID" />
  </div>
  <div>
    <label for="OrderDate"> OrderDate </label>
    <input id="OrderDate" type="text" formControlName="OrderDate" />
  </div>
  <div>
    <label for="RequiredDate"> RequiredDate </label>
    <input id="RequiredDate" type="text" formControlName="RequiredDate" />
  </div>
  <div>
    <label for="ShippedDate"> ShippedDate </label>
    <input id="ShippedDate" type="text" formControlName="ShippedDate" />
  </div>
  <div>
    <label for="ShipVia"> ShipVia </label>
    <input id="ShipVia" type="text" formControlName="ShipVia" />
  </div>
  <div>
    <label for="Freight"> Freight </label>
    <input id="Freight" type="text" formControlName="Freight" />
  </div>
  <div>
    <label for="ShipName"> ShipName </label>
    <input id="ShipName" type="text" formControlName="ShipName" />
  </div>
  <div>
    <label for="ShipAddress"> ShipAddress </label>
    <input id="ShipAddress" type="text" formControlName="ShipAddress" />
  </div>
  <div>
    <label for="ShipCity"> ShipCity </label>
    <input id="ShipCity" type="text" formControlName="ShipCity" />
  </div>
  <div>
    <label for="ShipRegion"> ShipRegion </label>
    <input id="ShipRegion" type="text" formControlName="ShipRegion" />
  </div>
  <div>
    <label for="ShipPostalCode"> ShipPostalCode </label>
    <input id="ShipPostalCode" type="text" formControlName="ShipPostalCode" />
  </div>
  <div>
    <label for="ShipCountry"> ShipCountry </label>
    <input id="ShipCountry" type="text" formControlName="ShipCountry" />
  </div>

  <p>Details</p>
  <button class="button" (click)="addDetails()" type="button">Add</button>
  <div formArrayName="Details">
    <div
      *ngFor="
        let detail of this.orderForm.get('Details')?.controls;
        let detailIndex = index
      "
      formGroupName="{{ detailIndex }}"
    >
      <div>
        <label for="ProductID"> ProductID </label>
        <input formControlName="ProductID" />
      </div>
      <div>
        <label for="UnitPrice"> UnitPrice </label>
        <input formControlName="UnitPrice" />
      </div>
      <div>
        <label for="Quantity"> Quantity </label>
        <input formControlName="Quantity" />
      </div>
      <div>
        <label for="Discount"> Discount </label>
        <input formControlName="Discount" />
      </div>
    </div>
  </div>

  <button class="button" type="submit">Send</button>
</form>
